/* ========================== 
        google fonts 
============================ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

/* ========================== 
       Root variables
============================ */
:root{

    /* ---fonts variable---- */
    --mainFont :'Montserrat', sans-serif;
    --fontBold:700;
    --fontSemi:600;
    --fontMedium:500;
    --fontRegular:400;
    --fontLight:300;
    

    /* ---color variable---- */



    
}


/* ========================== 
      Reset CSS
============================ */

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
     -webkit-box-flex: 0;
     -ms-flex: 0 0 auto;
         flex: 0 0 auto;
}



/* ========================== 
     Global CSS
============================ */

li{
    list-style: none;
}
a{
     text-decoration: none;
}

ul{
    display: flex;
}



body{
    font-family:var(--mainFont);
}





/* ========================== 
     home  section style
============================ */

header {
     background-color: #FFF9F4;
     min-height: 100vh;
	
}




header .logo-img{
     max-width: 14rem;
}


header .home__img {
     max-width: 100%;
}


header .hero__text{
     font-weight: 800;
}


.btn__buy{
     font-size: .7rem;
     font-weight: 800;
}





/* ========================== 
     casual shoes section style
============================ */
.casual__shoes img{
     max-width: 50%;
}

/* ========================== 
     ---- section style
============================ */
.img-card {
     background: #F1F1F1;
     margin: 0 auto;
     margin-top: 10px;
     display: flex;
     width: 94%;
     height: 300px;
     justify-content: center;
     border-radius: 20px;
 }

/* ========================== 
     ---- section style
============================ */



/* ========================== 
     ---- section style
============================ */




/* ========================== 
     ---- section style
============================ */




/* ========================== 
     ---- section style
============================ */




/* ========================== 
     ---- section style
============================ */




/* ========================== 
        Google fonts 
============================ */






/* ========================== 
 Responsive  Media Queries
============================ */


@media only screen and (max-width: 480px) {



header {
    
     min-height: 80vh;
	
}


     header .home__img {
          margin: 0 auto;
          display: block;
          max-width: 70%;
     }
}
@media only screen and (max-width: 768px) {
   
}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 1200px) {}
